@font-face {
    font-family: mons-reg;
    src: url(../fonts/Montserrat-Regular.otf)
}
@font-face {
    font-family: mons-lig;
    src: url(../fonts/Montserrat-Light.otf)
}
@font-face {
    font-family: mons-hair;
    src: url(../fonts/Montserrat-Hairline.otf)
}
.wow{
	visibility:hidden;
}
::-webkit-scrollbar {
    width: 0
}
::-webkit-scrollbar-track {
    border-radius: 0;
    width: 4px;
    background-color: #000
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: red
}
body{
	background-color: #fff;
	color: #f9f9f9;
}

ul{
	padding-left:0px;
}
// intro messages
.text-dull{
	color:#BFBFBF;
}
// main wrapper intro container
.qa-container{
	padding:0px;
	text-align:left;
	height:100vh;
	font-family:'mons-hair';
	/*intro page*/

	.user-intro-container, #welcome-intro,.questionaire-container{
		padding-left: 70px;
		color: #fff;
		height: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}

	.user-intro-container h1{
		font-size: 50px;
		font-family: 'mons-hair';
		margin-bottom: 15px;
		transition:all 0.2s ease-in-out
	}
	.user-intro-container h3{
		display: inline;
		font-size: 1.3em;
		font-family: 'mons-hair';
		color: #9d9d9d;
		margin-bottom: 10px;

	}

	.move-down{
		height: 137px;
		
	}
	.error-intro{

		margin-top: 15px;
	}
	#input1 {
	    padding: 0;
	    font-size: 1.3em;
	    border: none;
	    margin-top: 22px;
	    font-family: 'mons-hair';
	    /*color: transparent;*/
	    /*text-shadow: 0px 0px 1px #000;*/
	    background-color: rgba(0,0,0,0);
	    position: relative;
	    width: auto;
	    /*z-index: 9998 !important;*/
	    border: none;
	    outline: none;
	    color: #fff;
	    text-transform: capitalize;

	  }
	 .ssh{
	 	line-height:30px;
	 }
	.btn{
		display: inline-block;
		width: 100px;
		padding: 12px 5px;
		border-radius: 20px;
		/*background-color: rgba(0,0,0,0);*/
		background: #fff;
		border:1px solid #fff;
		color: #1a1a1a;
		text-align: center;
		font-family: 'mons-reg';
		font-size: 0.75em;
		margin: 30px 20px 0px 0px;
		line-height: 0;
		cursor: pointer;
		transition:all 0.2s ease-in-out;
	}
	.btn:hover{
		background-color: rgba(0,0,0,0);
	}
	.btn-white:hover{
		color:#fff;
	}
	.btn-green{
		border-color: #3a9e22;
		color: #f9f9f9;
		background: #3a9e22;
	}
	.copyright{
		position: absolute;
		bottom: 15px;
		color: #9d9d9d;
		font-size: 0.8em;
		padding-left: 70px;
	}
	.fb-like{
		position: absolute !important;
		bottom: 13.5px;
		left: 265px;
	}
	.intro-welcome,.intro-load{
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}
	.intro-load{
		line-height:30px;
		
		position:absolute;
	}

	span.load-dots{
		font-family: 'mons-reg';
		font-size: 1em;
		color: #fff; 
		transition: all 0.2s ease-in-out;
		line-height: 10px;
		
	}
	h1.hey{
		transition: all 0.3s ease-in-out;
	}
	.white{
		color: white;
	}

	// input cursor animation
	@keyframes blink {
	  from {
	    opacity: 1;
	  }
	  to {
	    opacity: 0;
	  }
	}


// message intro

#welcome-intro,.questionaire-container{
	color:#9d9d9d;
	h3,h4{
		font-family:'mons-lig';
	}
	strong{
		color:#6f6f6f;
	}
	.btn{
		margin-top:10px;
	}
	.btn-green:hover{
		color: #3a9e22;
		
	}
}
.questionaire-container{
	.btn-green{
		background:transparent;
		border:1px solid #3a9e22;
		color:#3a9e22;
	}
	
		.btn-green:hover{
			background:#3a9e22;
		color:#fff;
		}
		
	
}


}
.flow-container{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100vh;
	top: 0vh;
	left: 0;
	overflow: hidden;
}
.flow-div{
	width: 16.665%;
	height: 100vh;
	float: left;
	margin-top: 0vh;
	background: #141414;
	

}
.one{
	transition: all 0.4s ease-in-out;
}
.two{
	transition: all 0.5s ease-in-out;
}
.three{
	transition: all 0.6s ease-in-out;
}
.four{
	transition: all 0.7s ease-in-out;
}
.five{
	transition: all 0.9s ease-in-out;
}
.six{
	transition: all 1.0s ease-in-out;
}

input[type="radio"]{
	margin-top: -5px;
    vertical-align: middle;
    margin-right: 8px;
    cursor:pointer;
    visibility:hidden;
    position:absolute;
}
.options:hover{
	strong{
		color: #9d9d9d;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
}
input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:15px;
  width:15px;
  border-radius:50%;
  margin-right: 8px;
  content: " ";
  // margin-top:10px;
  cursor:pointer;
  display:inline-block;
  // vertical-align: middle;
  border:1px solid #777;
  -webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
}	        
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
  background:transparent;
  border: 5px solid #19b91e;;
}
.show-quest-error{
	font-family: 'mons-lig';
	margin-top:10px;
}




// results graph, all key
.results-container{
	text-align: center;
	font-family:'mons-lig';
	overflow:auto;
	.dark{
		background:#141414;
		color:#f9f9f9;
		min-height: 100vh;
	

	}
	.light{
		background:#fff;
		color:#141414;
		min-height: 100vh;
	}
	.graph-container{
		// background: #fff;
	    width: 300px;
	    height: 250px;
	    position: relative;
	    left: 0;
	    right: 0;
	    margin: auto;
	    margin-top: 120px;
	    border-bottom:1px solid #fff;
	}
	.hori-grid{
		height: 50px;
	    width: 100%;
	    position: relative;
	    border-top: 1px solid #656565;
	}
	.y-val{
		position: absolute;
	    left: -16px;
	    top: -9px;
	    font-size: 11px;
   		color: #d4d4d4;
	}
	.graph-vertical-container{
		position: absolute;
		width:100%;
		height:100%;
		top: 0;
    	background: rgba(0,0,0,0);
	}
	.vert-grid{
		    /* height: 40%; */
	    display: inline-block;
	    background: #fff;
	    width: 25%;
	    bottom: 0;
	    /* margin-bottom: 0; */
	    position: absolute;
	    height: 0;
	    /* top: 0; */
	    /* margin-top: 0; */
	    left: 50%;
	    margin-left: 5%;
	    position: absolute;
	    bottom: 0;
	    background: -webkit-linear-gradient(#66ce0e, #00ffdc);
	    background: -o-linear-gradient(#66ce0e, #00ffdc);
	    background: -moz-linear-gradient(#66ce0e, #00ffdc);
	    background: linear-gradient(#66ce0e, #00ffdc);
	    transition: all 1s ease-in-out;
	}
	.vert-grid:hover{
		background: -webkit-linear-gradient(#2cea83, #3ee15d);
	    background: -o-linear-gradient(#2cea83, #3ee15d);
	    background: -moz-linear-gradient(#2cea83, #3ee15d);
	    background: linear-gradient(#2cea83, #3ee15d);
	}
	.left-vert-grid{
		// height: 60%;
   		margin-left: -32%;
	}
	.x-val{
	    position: relative;
    bottom: 0;
    /* height: 300px; */
    margin-bottom: 0;
    top: 100%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 11px;
    display: block;
    margin-top: 8px;
	}
	.cord-val{
		    margin-top: 3px;
    color: #e8e8e8;
    font-family: 'mons-hair';
    left: -3px;
    margin-left: -16px;
	}
	.coordinates{
		margin-top: 10px;
		// position: absolute;
		// left:-8px;
    	// text-align: left;
    	margin-bottom:50px;
	}
}
.score{
	margin-top:160px;
	font-size:30px;
	margin-left:-10px;
	margin-bottom:40px;
}
.main-answer-key{
	text-align:left;
	margin-left:40px;
	margin-top:50px;	

}
.main-answer-key{
	ul{
		margin-bottom:20px;
	}
}
.option-key{
	margin-left:10px;
}
.dark-text{
	color:#171717;
}
.call-line{
	margin-bottom:40px;
}
a.text-muted:hover{
	transition:all 0.2s ease-in-out;
	text-decoration:none;
	color:#141414;
}

@media (max-width:640px){
	.qa-container {
		.questionaire-container, .user-intro-container{
			padding-left:40px;
			padding-right:40px;
		}
		h1.hey{
			font-size:30px;
		}
		h3.intro-load{
			height: 72px;
			display:none;
		    // opacity: 1;
		    /* line-height: 0; */
		    position: relative;
		    margin-top: 0;
		}
		h3.intro-welcome{
			margin-top:0px;
		}
		#welcome-intro{
			padding-left:40px;
		}
	}
}































