<!-- Intro message directive comes here
path -> partials -> introMessage.html -->
<intro-message></intro-message>

<!-- dynamic flow loader -->
<div class="flow-container">
	<div class="flow-div one wow fadeInUp" data-wow-delay="0.1s"></div>
	<div class="flow-div two wow fadeInUp" data-wow-delay="0.2s"></div>
	<div class="flow-div three wow fadeInUp" data-wow-delay="0.3s"></div>
	<div class="flow-div four wow fadeInUp" data-wow-delay="0.4s"></div>
	<div class="flow-div five wow fadeInUp" data-wow-delay="0.5s"></div>
	<div class="flow-div six wow fadeInUp" data-wow-delay="0.6s"></div>
</div>